.event-wrapper{
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
    width: 90%;
    height: auto;
    margin: 5% auto;
}

.event-wrapper table {
    width: 100%;
    border-collapse: collapse;
}

.event-wrapper table thead{
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
}

.event-wrapper table tbody{
    margin-top: 10px !important;

  
}
.event-wrapper table td{
    padding: 10px;
    margin: 10px;

}
.event-wrapper table tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .event-wrapper table tr:last-child {
    border-bottom: none;
  }

  .upcoming-event{
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
    width: 40%;
    height: auto;
    margin-top:5%;
    margin-left: 5%;
  }
  .event-btn{
    margin-top: 5%;
    margin-right: 5%;
  }
  .event-header{
    align-items: start;
    justify-content: space-between;
    width: 100%;
  }