 /* Header wrapper styles */
 .header-wrapper {
    overflow: hidden;
    position: fixed;
    width: 100vw;
    top:0;
    z-index: 100000;
  }

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px 10px;
    margin: 0 10%;
    width: 100%;
    max-width: 1200px;
    height: 80px;
  }
  

  /* Logo styles */
  .logo {
    width: 20%;
    
  }
  
  .logo img {
    width: 100%;
  }
  
  /* Navigation styles */
  .nav {
    width: 70%;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-list {
    display: flex;
    list-style: none;

  }
  .nav-list li a{
    text-decoration: none;
    color: rgba(12, 22, 43);
  }
  
  .nav-item {
    /* width: 100%;
    margin-right: 1%;
    font-size: 0.85em; */
    margin-right: 5%;
  }
  
  .nav-item:last-child {
    margin-right: 0;
  }
  .nav-item a:hover{
    color: rgb(194, 57, 17)
  }
  .header-divider {
    width: 100%;
    border: none;
    border-top: 1px solid #ddd; /* Adjust color as needed */
    margin: 0;
    padding: 0;
  }