.banner{
    display: flex;
    margin: 0 10%;
    align-items: center;
    justify-content: space-between;
}

.banner-left{
    width: 40%;
}
.banner-left p {
    text-align: justify;
}

.banner-slider{
    width: 50%;
}

