.event-card{
    width: 70%;
    height: 200px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
    padding: 12px;
}
.event-details{
    width: 50%;
}
.poster{
    width: 20%;
    height: 80%;
}
.poster img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.event-img{
    width: 90%;
    height: 30vh;
    margin: 0 auto;
}
.event-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.event-desc{
    width: 90%;
    margin-top: 2% !important;
    margin: 0 auto;
    font-family: sans-serif;
    text-align: justify ;
    color: rgb(76, 76, 76);

}
.event-desc span{
    
    font-weight: bold;
}

.event-footer {
    justify-content: space-between;
    margin-top: 2%;
}
.event-footer a{
    text-decoration: none;
     color: rgb(76, 76, 76);
}
.show{
    display: block;
}
.hide{
    display: none;
}