body{
  margin: 0;
 
}

/* ============Shared styles============  */
.montserrat{
  font-family: "Montserrat", sans-serif
}
.section-header{
  font-size: 3em;
  color: #162b56;
}
.mt{
  margin-top: 12%;
}

.mt-10{
  margin-top: 10%;
}
.mt-5{
  margin-top: 5%;
}
.d-flex{
  display: flex;
}
.btn-red{
  background-color: #c23911;
  border: none;
  border-radius: 24px;
  width: auto;
  padding: 10px 20px;
  color: #fff;   
  cursor: pointer;
}
.text-center{
  text-align: center;
}